<h1>Home</h1>

<style type="text/css">
#mapContainer {
    height: 250px;
    width: 400px;
    border:5px solid #eaeaea;
}
</style>

<script src="http://maps.google.com/maps/api/js?sensor=false">
</script>

<script type="text/javascript">
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position){
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        var coords = new google.maps.LatLng(latitude, longitude);
        var mapOptions = {
            zoom: 15,
            center: coords,
            mapTypeControl: true,
            navigationControlOptions: {
                style: google.maps.NavigationControlStyle.SMALL
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(
                document.getElementById("mapContainer"), mapOptions
                );
            var marker = new google.maps.Marker({
                    position: coords,
                    map: map,
                    title: "Your current location!"
            });
 
        });
    }else {
        alert("Geolocation API is not supported in your browser.");
    }
</script>

<div id="mapContainer"></div>

<% #TODO: Optimize the if logic to be cleaner here. %>
<p>
  <ul>
    <% if user_signed_in? %>
      <h3><%= Date.today %></h3>
      <% @events.each do |event| %>
        <p><strong>What:</strong> <%= event[:summary]%><br>
        <% if event[:location] %>
            Where: <%= event[:location] %>
        <% else %>
            Where: <em>No location yet!</em>
        <% end %><br>
        Begins: <%= event[:start] %><br>
        Ends: <%= event[:end] %>
        </p>
      <% end %>
      <h2><em>My Saved Places</em></h2>
      <% current_user.places.each do |place| %>
        <em><%= place.name %></em> - <%= place.address %> [<%= link_to 'Edit', edit_place_path(place) %>] [<%= link_to 'Delete', place, method: :delete, data: { confirm: 'Are you sure?' } %>]<br>
      <% end %><br>
      <% #TODO: Have Place form return to home page instead of /places %>
      [<%= link_to 'Add new saved place', new_place_path %>]
    <% end %>
  </ul>
</p>

<%= debug @api_data %>
