
<div class="daynav">
          <img src="/assets/logo.png">
         <ul>
          <li id="nextbutton"><div class="navarrow"></div>Next Day</li>
          <%= link_to refresh_events_path do %>
            <li is "refreshbutton"><img src="/assets/refresh.png" id="refresh">Refresh</li> 
          <% end %>
        </ul>

    </div>

      <div class="progress">
        
      </div>

<div class="agendaview">  
  <ul>
      <li>
          <div class="icon"><img src="/assets/train.png"></div> 
            <div class="time"><%= event[:start].strftime("%l:%M%P") %></div>
            <div class="eventTitle"><%= event[:summary] %></div>   
                 

      </li>
  </ul>
</div><!--/agendaview-->

  <div class="tofrom">
    <ul>
          <li><span>from</span><br><%= current_user.places.find_by_name("Current Location").name %></li>
          <li><span>to</span><br><%= event[:location] %></li>
    </ul>


  </div>



