
  <style>
    /* This only works with JavaScript, 
       if it's not present, don't show loader */
    .no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 50px; top: 500; }
  </style>
  
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  
  
  <script src="http://github.com/Modernizr/Modernizr/raw/master/modernizr.js"></script>
  <script>
    // Wait for window load
    $(window).load(function() {
      // Animate loader off screen
      $("#loader").fadeOut({
        top: -500
      }, 1500);
    });
  </script> 
</head>

<body>
    
  
  <img style="height:200px" src="/assets/spinner.gif" id="loader">
    



<!-- the same below -->

<div class="daynav">
          <img src="/assets/logo.png">
         <ul>
          <li id="nextbutton"><div class="navarrow"></div>Next Day</li>
          <%= link_to refresh_events_path do %>
            <li is "refreshbutton"><img src="/assets/refresh.png" id="refresh">Refresh</li> 
          <% end %>
        </ul>

    </div>

      <div class="progress">
        
      </div>

<div class="agendaview">  
  <ul>
      <li>
          <div class="icon"><img src="/assets/train.png"></div> 
            <% if params[:page].nil? %>
              <div class="time"><%= @events[0][:start].strftime("%l:%M%P") %></div>
              <div class="eventTitle"><%= @events[0][:summary] %></div>   
            <% else %>
              <div class="time"><%= @events[params[:page].to_i][:start].strftime("%l:%M%P") %></div>
              <div class="eventTitle"><%= @events[params[:page].to_i][:summary] %></div>   
            <% end %>
                 

      </li>
  </ul>
</div><!--/agendaview-->

  <div class="tofrom">
    <ul>
        <% if params[:page].nil? %>
          <li><span>from</span><br><%=  %>
            <%= form_tag("/calcroute", :id => "routeForm", :onSubmit => "calcRoute();return false;") do %>
              <%= text_field_tag 'from', @places.first.name, :class => 'from' %>
              <% end %></li>
        <% else %>
          <li><span>from</span><br><%= @events[params[:page].to_i - 1][:summary] %></li>
        <% end %>
          <li><span>to</span><br><%= @events[params[:page].to_i][:location] %></li>
    </ul>


  </div>

<script type="text/javascript">
  $(function(){
    $(".from").autocomplete({ source: <%= raw current_user.places.collect {|x| x.name } %> })
  });
</script>


