<div class="wrapper">
    
        
        <div class="hero-unit">

        <% if @events_no_address.size > 0 %>
          <h1>We need addresses for these events. If you want, you can skip them.</h1>
          <ul>
            <% @events_no_address.each do |event| %>
            <li class="edit_li"><%= event.summary %>
              <%= form_for(event, :remote => true) do |f| %>
                <div class="field">
                  <%= f.text_field :location %>
                </div>
                <div class="field">
                  <%= f.check_box :skip, :class => 'submittable' %> 
                  <%= f.label "Skip this trip" %>
                </div>
                <div class="actions">
                  <%= f.submit %>
                </div>
              <% end %></li>
            <% end %>
            </ul>
  	          <h2>Entered your addresses? Let's Trip!<p></h2>
          <% else %>
            <p><h2>Your events look good. Let's get to the good stuff already!</h2></p>
          <% end %>
          <p><h2><%= link_to "Map 'em!", home_path, :class => "zocial google" %></h2></p>		        
              <h2>Entered your addresses? Let's Trip!<p></h2>
          <% else %>
            <p><h2>Your events look good. Let's get to the good stuff already!</h2></p>
          <% end %>
          <p><h2><%= link_to "Map 'em!", home_path, :class => "zocial google" %></h2></p>           
        </div>

</div><!--/wrapper-->