<%#TODO: use jQuery to check if addresses were actually entered  %>
<%#TODO: use Google Places API to get address/lat/long for name  %>

<div class="wrapper">
    
        
        <div class="hero-unit">

        <% if @events_no_address.size > 0 %>
          <h1>We need addresses for these events. If you want, you can skip them.</h1>
          <ul style="list-style: none;">
            <% @events_no_address.each do |event| %>
            <li class="edit_li">
              <%= event[:start].strftime("%l:%M%P") %>: <%= event.summary %>
              <%= form_for(event, :remote => true) do |f| %>
                <div class="field">
                  <%= f.text_field :location %>
                </div>
                <div class="field">
                  <%= f.check_box :skip, :class => 'submittable' %> 
                  <%= f.label "Skip this trip" %>
                </div>
                <div class="actions">
                  <%= f.submit %>
                </div>
              <% end %></li>
            <% end %>
            </ul>
          <% else %>
            <p><h2>You have addresses for your events. Thanks for that.</h2></p>
          <% end %>
          <h2>How do you want to get around today?</h2>
          <h2><%= render 'travel_mode_form' %>  </h2>
          <p><h2><%= link_to "Map 'em!", home_path, :class => "zocial google" %></h2></p>           
        </div>

</div><!--/wrapper-->