<p id="notice"><%= notice %></p>

<p>
  <b>Google:</b>
  <%= @event.google_id %>
</p>

<p>
  <b>G created:</b>
  <%= @event.g_created %>
</p>

<p>
  <b>G updated:</b>
  <%= @event.g_updated %>
</p>

<p>
  <b>Summary:</b>
  <%= @event.summary %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Start:</b>
  <%= @event.start %>
</p>

<p>
  <b>End:</b>
  <%= @event.end %>
</p>

<p>
  <b>Timezone:</b>
  <%= @event.timezone %>
</p>

<p>
  <b>Latitude:</b>
  <%= @event.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @event.longitude %>
</p>

<p>
  <b>User:</b>
  <%= @event.calendar_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
