<div class="wrapper">
    
        
        <div class="hero-unit">
            <h1>Finally:</p></h1>
            <h2>How do you want to get around today?</h2>
            <h3>(You can change your travel mode for each event)</h3>
            <h2><%#TODO: form to save user's default travel mode %></h2>
            
     		<%= form_for(@current_user, :remote => true) do |f| %>
                    <div class="field">
                      <%= f.radio_button("travel_mode", "DRIVING", :class => 'submittable') %> 
                      <%=label_tag(:travel_mode, "Driving")%>
                      <%= f.radio_button("travel_mode", "BICYCLING", :class => 'submittable') %>
                       <%= label_tag(:travel_mode, "Bicycling") %>
                      <%= f.radio_button("travel_mode", "TRANSIT", :class => 'submittable') %>
                       <%= label_tag(:travel_mode, "Public Transportation") %>
                      <%= f.radio_button("travel_mode", "WALKING", :class => 'submittable') %>
                       <%= label_tag(:travel_mode, "Walking") %>
                    </div>
              <% end %>

            <h2><%= link_to "Let's Trip!", home_path, :class => "zocial google" %></h2>    
        </div>

</div><!--/wrapper-->
