<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @place.desc %>
</p>

<p>


<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>User:</b>
  <%= @place.user.name %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
