<% #TODO: Drop in Bootstap into CSS/JS. %>

<!DOCTYPE html>
<html>
<head>
  <title>Foamer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%- if user_signed_in? %>
        Greetings, <%= current_user.name %> | [<%= link_to "sign out", signout_path %>]
<%- else %>
	<%= link_to "[sign in with Google]", "/signin" %>
<% end %>
<%= yield %>

</body>
</html>
